  .modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    overflow: hidden;
    background-color:rgb(0, 0, 0, 0.5);
  }
  
  .modal-content{
    width: 50%;
    height: 400px;
    background-color: #ffff;
    border-radius: 15px;
  }
  
  .close{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }